{% extends "basecopy.html" %}
{% set active_page = "home" %}
{% block content %}

<!-- Selectable Tag Element -->
<div class="selectable_tag_element">
    <input type="checkbox" value="FeatureName">
    <label>FeatureName</label>
</div>

<div class="selectable_tag_element">
    <input type="checkbox" value="FeatureName" checked>
    <label>FeatureName</label>
</div>

<style>
.selectable_tag_element {
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: lightgrey;
}
.selectable_tag_element:has(input[type="checkbox"]:checked) {
    background-color: lightgreen;
    color: darkgreen;
}
.selectable_tag_element:has(input[type="checkbox"]:focus-visible) {
    outline: 1px solid black;
}

.selectable_tag_element input{
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0px;
    left: 0px;
    position: absolute;
    cursor: pointer;
}

.selectable_tag_element label::before {
    content: "+";
    margin-right: 6px;
}
.selectable_tag_element:has(input[type="checkbox"]:checked) label::before {
    content: "✓";
}
</style>

<!-- Selectable Image Element -->
<div class="selectable_image_element">
    <input type="checkbox" value="ImageName">
    <label>✓</label>
    <img src="https://picsum.photos/200/300" />
</div>

<div class="selectable_image_element">
    <input type="checkbox" value="ImageName" checked>
    <label>✓</label>
    <img src="https://picsum.photos/600/400" />
</div>

<style>
.selectable_image_element {
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.selectable_image_element img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.selectable_image_element label {
    position: absolute;
    right: 5px;
    top: 5px;
    background: red;
    padding: 5px;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    opacity: 0;
}

.selectable_image_element:has(input[type="checkbox"]:checked) {
    border: 3px solid red;
}
.selectable_image_element:has(input[type="checkbox"]:checked) label {
    opacity: 1;
}
.selectable_image_element:has(input[type="checkbox"]:focus-visible) {
    outline: 1px solid black;
}

.selectable_image_element input{
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0px;
    left: 0px;
    position: absolute;
    cursor: pointer;
}
</style>

<!-- Button Element -->
<!-- Suggestion Input Element -->
<!-- Range Slider Element -->

{% endblock %}

